.hero{
    text-align:  center;
    margin-bottom: 100px;
    padding: 15px;
    background-color: aqua; 
}

main{
    background-color: rgb(248, 248, 53);
    border-radius: 15px;
}
body{
    background-color: turquoise;
}
.one-day{
    margin: 0 0 20px 5px;
    border:1px solid black ;
    border-radius: 8px;
}
.five-day-span {
    padding: 0 11px 5px 0px;
   
   
}

.city {
    margin:5px 0 5px 0;
   border: 1px solid black;
   border-radius: 8px;
   text-align: center;
}


#form-plus-oneday{
    margin-left: 1px;
}